.header {
    height: 60px;
    margin-top: 20px;
    padding-left: 15px;
    vertical-align: baseline;
}
.header .title {
    border-radius: 2px;
    border: 1px #f3dd3f solid;
    border-bottom: none;
    height: 100%;
    display: inline-block;
    font-size: 18px;
    vertical-align: bottom;
    line-height: 60px;
    padding-left: 10px;
}
.Content {
    height: auto;
    width: 100%;
    background-color: #ccc;
}